#Ignore thumbnails created by Windows
Thumbs.db
 
#Ignore files created by Visual Studio
*.user
*.suo
*.sln.docstates
*.sdf
*.opensdf
[Dd]ebug/
[Aa]rm/
x64/
[Rr]elease/
ipch/
[Oo]bj/
[Bb]in/
[Bb]ld/
[Aa]pp[Pp]ackages/
Package.StoreAssociation.xml
ReadabilityWin_Storekey.pfx