/***********************/
/** Layout formatting **/

.article {
    height: 100%;
}

#contentSection {
    width: 100%;
    height: 100%;
    overflow-x: auto;
    overflow-y: hidden;
}

    #contentSection #helper {
        height: 100%;
        width: 1600px;
        /* This is how wide the container needs to be for titleSection and content to float side by side*/
    }

    #contentSection #content {
        height: 100%;
        column-fill: auto;
        box-sizing: border-box;
        padding-bottom: 50px;
        padding-top: 50px;
        position: relative;
        -ms-user-select: text;
        margin-left: 350px;
        word-wrap: break-word;
    }

    #contentSection #titleSection {
        font-weight: bold;
        height: 100%;
        width: 400px;
        float: left;
        padding-top: 200px;
        padding-bottom: 50px;
        padding-left: 100px;
        padding-right: 50px;
    }

    #contentSection #content:after {
        /* this is a hack, but it is recommended by MSDN */
        content: '';
        background-color: transparent;
        float: right;
        height: 1px;
        margin-right: -120px;
    }



    /*****************************************/
    /** Layout formatting for portrait mode **/
    #contentSection.portraitMode {
        overflow-y: auto;
        overflow-x: hidden;
    }

        #contentSection.portraitMode #helper {
            height: auto;
            width: auto;
        }

        #contentSection.portraitMode #content {
            columns: auto auto;
            width: auto;
            padding-bottom: 50px;
            margin-left: 100px;
            margin-right: 25px;
        }

            /* this is a hack, but it is recommended by MSDN */
            #contentSection.portraitMode #content:after {
                float: none;
                display: block;
                height: 50px;
                margin-right: 0;
            }

        #contentSection.portraitMode #titleSection {
            height: auto;
            padding-top: 50px;
            padding-bottom: 25px;
            float: none;
        }



    /*********************/
    /** Text formatting **/
    #contentSection #content p {
        text-indent: 1.75em;
    }

        #contentSection #content p:first-of-type {
            text-indent: 0em;
        }

    #contentSection #content a {
        color: cornflowerblue;
    }

    #contentSection #content img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 0.5em;
        margin-bottom: 0.5em;

        padding: 5px;
        border: 1px solid grey;
    }

    #contentSection #content blockquote {
        text-indent: 0px;
        margin-left: 2em;
        margin-top: 0.5em;
        margin-bottom: 0.5em;
    }

    #contentSection #content p > big {
        margin-left: -1.33em; /* usually 2em of text-indent, but because we adjusted font-size */
        font-size: 150%;
        margin-top: 1.5em;
        margin-bottom: 0em;
    }




/*@media screen and (-ms-view-state: snapped) {
    #contentSection {
        overflow-y: auto;
        overflow-x: hidden;
    }

    #content {
        columns: auto auto;
        padding-bottom: 0px;
        padding-left: 20px;
        padding-right: 15px;
        margin-left: 0;
    }

    #helper {
        height: auto;
        width: auto;
    }

    #content:after {
        float: none;
        display: block;
        height: 20px;
        margin-right: 0;
    }

    #titleSection {
        height: auto;
        padding-top: 50px;
        padding-bottom: 25px;
        float: none;
    }
}

@media screen and (-ms-view-state: fullscreen-portrait) {
    #contentSection {
        overflow-y: auto;
        overflow-x: hidden;
    }

    #helper {
        height: auto;
        width: auto;
    }

    #content {
        columns: auto auto;
        width: auto;
        padding-bottom: 50px;
        padding-left: 100px;
        padding-right: 25px;
        margin-left: 0;
    }

        #content:after {
            float: none;
            display: block;
            height: 50px;
            margin-right: 0;
        }

    #titleSection {
        height: auto;
        padding-top: 50px;
        padding-bottom: 25px;
        float: none;
    }
}*/

/*************/
/** Top appbar **/
#topappbar #articleBackButton {
    float: left;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 28px;
    margin-right: 28px;
}

#topappbar #headerPageTitle {
    float: left;
    margin-top: calc(1.5em + 10px);
    font-style: italic;
}

#topappbar #headerPageSubtitle {
    float: right;
    margin-top: calc(1.5em + 10px);
    margin-right: 28px;
    font-style: italic;
}
