#contentSection {
    width: 100%;
    height: 100%;
    overflow-x: auto;
    overflow-y: hidden;
}

#content {
    height: 100%;
    column-width: 400px;
    column-fill: auto;
    box-sizing: border-box;
    padding-bottom: 50px;
    padding-left: 120px;
    padding-right: 120px;
    position: relative;
    -ms-user-select: text;

    word-wrap: break-word;
}

#content #subtitle {
    font-weight: bold;
}

    /* this is a hack, but it is recommended by MSDN */
    #content:after {
        content: '';
        background-color: transparent;
        float: right;
        height: 1px;
        margin-right: -120px;
    }

    /* text/content formatting */
    #content p {
        text-indent: 2em;
    }

        #content p:first-of-type {
            text-indent: 0em;
        }

    #content a {
        color: cornflowerblue;
    }

    #content img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 0.5em;
        margin-bottom: 0.5em;
    }

    #content blockquote {
        text-indent: 0px;
        margin-left: 2em;
        margin-top: 0.5em;
        margin-bottom: 0.5em;
    }

    #content p > big {
        margin-left: -1.33em; /* usually 2em of text-indent, but because we adjusted font-size */
        font-size: 150%;
        margin-top: 1.5em;
        margin-bottom: 0em;
    }


    #content p:first-of-type > big {
        margin-left: 0;
    }


@media screen and (-ms-view-state: snapped) {
    #contentSection {
        overflow-y: auto;
        overflow-x: hidden;
    }

    #content {
        columns: auto auto;
        padding-bottom: 0px;
        padding-left: 20px;
        padding-right: 15px;
    }

        /* this is a hack, but it is recommended by MSDN */
        #content:after {
            float: none;
            display: block;
            height: 20px;
            margin-right: 0;
        }
}

@media screen and (-ms-view-state: fullscreen-portrait) {
    #contentSection {
        overflow-y: auto;
        overflow-x: hidden;
    }

    #content {
        columns: auto auto;
        padding-bottom: 50px;
        padding-left: 100px;
        padding-right: 25px;
    }

        /* this is a hack, but it is recommended by MSDN */
        #content:after {
            float: none;
            display: block;
            height: 50px;
            margin-right: 0;
        }
}
